.detail {
    text-align: center;
    padding: 0 48px;
    width: 60%;
}
.detail .detailHeader {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.detail .popfile {
    width:50%;
}