@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.App {
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 55px 75px 10px;
}
.state {
    color: tomato
}
@media (max-width: 575px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 2vw;
    }
    .detail  {
        width: 100%;
        padding: 4vw;
    }
    .detail  + .list  {
        width: 100%;
        padding: 4vw;
    }
    .item {
        width: 100%;
    }
}